<launch>
  <node name="master_node" pkg="= master" type="master.py" output="screen"/>
  <node name="sensing_node" pkg="= sensing" type="sensing.py" output="screen"/>
  <node name="perception_node" pkg="= perception" type="perception.py" output="screen"/>
  <node name="planning_node" pkg="= planning" type="planning.py" output="screen"/>
  <node name="control_node" pkg="= control" type="control.py" output="screen"/>
</launch>